body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 3;
}

.site-footer {
  height: min-content;
  margin: 0;
  bottom: 0;
  background-color: white;
  font-family: fantasy;
}
